body.game-view {
  max-width: 500px;
  margin: 0 auto;
}

.timer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

.timebar {
  height: 20px;
  background: red;
  width: 80%;
}

button.skip-button {
  float: right;
}

.interactions {
  display: flex;
}

.news-card {
  margin-bottom: 70px;
}

.news-interactions {
  display: flex;
  justify-content: center;
}

.interaction:not(:last-child) {
  margin-right: 20px;
}

.amount {
  margin-right: 20px;
}
