.asset {
  height: 150px;
  /* background: #e2d4b3; */
  width: 33%;
  /* padding: 10px; */
  box-sizing: border-box;
  position: relative;

  * {
    pointer-events: none;
  }

  &__name {
    display: block;
  }

  &__value {
    display: block;
    position: absolute;
    width: 90%;
    font-size: 30px;
    bottom: 1.1em;
    right: 0;
    text-align: right;
    transform-origin: center;
    color: var(--c-weiss);
    left: 50%;
    font-weight: 900;
    transform: rotate3d(1, 1, 1, -68deg) skewX(10deg);
    text-shadow: -1px 0px var(--c-text-shadow), -2px 0px var(--c-text-shadow), -3px 1px var(--c-text-shadow), -4px 2px var(--c-text-shadow), -3px -2px var(--c-card-shadow);
    transition: color 1s ease-in, text-shadow 1s ease-in;

    &.increase {
      animation-duration: 1s;
      animation-name: increase;
    }
    &.decrease {
      animation-duration: 1s;
      animation-name: decrease;
    }
  }
}

@keyframes increase {
  10% {
    color: var(--c-increase-light);
    text-shadow: -1px 0px var(--c-increase), -2px 0px var(--c-increase), -3px 1px var(--c-increase), -4px 2px var(--c-increase), -3px -2px var(--c-card-shadow);
  }
  to {
    color: var(--c-weiss);
    text-shadow: -1px 0px var(--c-text-shadow), -2px 0px var(--c-text-shadow), -3px 1px var(--c-text-shadow), -4px 2px var(--c-text-shadow), -3px -2px var(--c-card-shadow);
  }
}

@keyframes decrease {
  10% {
    color: var(--c-decrease-light);
    text-shadow: -1px 0px var(--c-decrease), -2px 0px var(--c-decrease), -3px 1px var(--c-decrease), -4px 2px var(--c-decrease), -3px -2px var(--c-card-shadow);
  }
  to {
    color: var(--c-weiss);
    text-shadow: -1px 0px var(--c-text-shadow), -2px 0px var(--c-text-shadow), -3px 1px var(--c-text-shadow), -4px 2px var(--c-text-shadow), -3px -2px var(--c-card-shadow);
  }
}

.asset__icons {
  position: relative;
}

.asset__icon__empty {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
  transition: height 0.4s linear;
}
