.konto-h {

  &__bar {
    height: 0.6em;
    width: 80%;
    margin: 0 auto;
    position: relative;
    border: 1px solid #000;
    //background-color: var(--c-bekb-primary);
  }

  &__bank {
    background-color: var(--c-bekb-primary);
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 0;
    will-change: width;
    transition: width ease-in-out 200ms;
  }
}
