.konto {
  &__label {
    display: flex;
    gap: var(--gap-m);
    margin-bottom: var(--gap-m);
  }
  &__bar {
    height: 15px;
    background: var(--c-hellgrau);
  }
  &__total {
    height: 100%;
    position: relative;
    background-color: var(--c-bekb-primary);
    transition: width ease-in-out 200ms;
  }
  &__bank {
    background-color: var(--c-decrease);
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    width: 0;
    will-change: width;
    transition: width ease-in-out 200ms;
  }
  &__skala {
    display: flex;
    justify-content: space-between;
    color: var(--c-bz-text);
    span {
      &::before {
        content: '';
        display: block;
        height: 8px;
        width: 3px;
        margin: 0 auto;
        background: var(--c-hellgrau);
      }
    }
    span:first-child {
      &::before {
        margin: 0;
      }
    }
    span:last-child {
      &::before {
        margin: 0 0 0 auto;
      }
    }
  }
}
