.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin: auto var(--gap-m) var(--gap-m) var(--gap-m);
  
  &__assets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--gap-l);
  }
}
