.portfolio {
  margin-left: var(--gap-m);
  margin-right: var(--gap-m);
  
  &__assets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--gap-l);
  }
}
