.app {
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  border-top: 10px solid var(--c-bekb-primary);

  display: flex;
  flex-direction: column;

  &__portfolio {
    margin-top: auto;
    margin-bottom: 4em;
  }
}
