@import "styles/reset.css";
@import "styles/grid.css";
@import "styles/typography.css";
@import "styles/colors.css";
@import "styles/document.css";


.assets {
  display: flex;
  justify-content: space-between;
}

.asset {
  height: 150px;
  position: relative;
  background: #e2d4b3;
  width: calc(33% - 20px);
  padding: 10px;
  box-sizing: border-box;
}

.asset-name {
  display: block;
}

.asset-value {
  display: block;
  position: absolute;
  bottom: 10px;
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: 20px;
  text-align: center;
  transform-origin: center;
  left: 50%;
  font-weight: 900;
  transform: rotate3d(1, 1, 2, -46deg) translateX(-50%);
  text-shadow: -4px 0px rgba(0,0,0,0.2);
}

h2 {
  margin-bottom: 10px;
  margin-top: 15px;
}
